/.buildpath
/.project
/release/*.zip
/.php_cs.cache
/nbproject
/.settings
/.idea
/src/Backend/SgateShopgatePlugin/vendor/
/release/package
composer.lock
/vendor/
/.php-cs.cache
/.phpunit.result.cache
.DS_Store
tests/package-lock.json
tests/node_modules
