dist: xenial
sudo: false
language: php

git:
  depth: false

before_script:
- phpenv config-rm xdebug.ini || return 0
- composer install

script:
- src/Backend/SgateShopgatePlugin/vendor/bin/phpunit

jobs:
  include:
  - stage: Dependency Checking + Unit Test + Code Style Fixing
    php: '7.0'
    script:
    - curl -L https://github.com/Rekhyt/php-dependency-checker/releases/download/1.0.0/php-dependency-checker.phar -o php-dependency-checker
    - chmod +x ./php-dependency-checker
    - ./php-dependency-checker --exclude-from=dependency-check-exclusions composer.lock
    - rm php-dependency-checker
    - curl -L http://files.shopgate.com/travis-ci/php-cs-fixer.phar -o php-cs-fixer
    - chmod a+x php-cs-fixer
    - ./php-cs-fixer fix --config=.php-cs.dist --cache-file=.php-cs.cache --diff --dry-run --verbose .
    - rm php-cs-fixer
    - src/Backend/SgateShopgatePlugin/vendor/bin/phpunit
  - stage: Unit Test
    php: '5.6'
  - stage: Unit Test
    php: '7.2'
  - stage: deploy
    php: '7.2'
    before_script: skip
    script:
    - if [[ "$TRAVIS_TAG" ]]; then ./release/build_release_package.sh ; fi
    deploy:
      provider: releases
      api_key:
        secure: YcfW+zlmU2U1QqmxSG15G/llrppO/NQrYrROMp3Ta6jNjGoqz5/6SgvXeWIdfWP+3XffdpWbFob9wnQx7JVcxbaW+vNd/0f2/l3287kWrcgILo0bKra7ODHS/wdy5Md82KXhJqZBRlsHyDqUkqQdeWOdSqmWNFlLuyXl0eHc7sxcDqn/prxriYoTT77aqt3TVnolg0faTUmZofBS0J6zJIYZkA0pvjfCtwowY1Q5oDNfVYhoGhPlYaiYcu1x+aVlZIIwcG80kJEQtzU1Fp735yGnkhcEl5mXQGcVZMpXz0/MMhUmjpMcmrJE6oaM0J3/tUWgbSVcyQVT/qHeN5XU+LPnWAdDVt26fV3HTeRExAOTSV3J2ye1vPzAxxLeaYb0hYXxu15/eXsbjnBB+jFSwqnw9zSdTiLR0zpA2S45uBXL0HeCY4MhQ7fkdc6fMdzOEA8svoWoPBNwO7T7h5faDlb/gFY8awVjHL+H+HrycB09TXllRe+OhfhgqHy3JO1vVrF21F0XjnvGVptwB+pXeuB95+eOzmPfKB5efbHIufb0oiG3smBt9QXPtnLnADZqbePeyvTC1SbY5Jx1ZFzwuWQ5qqQXT3NLF4AjwgneamBUTaJTfzII62m9/unYYEummkyXpjDQ1xBxf+10VYr7wq/Igym7pJx9VvhE06tvGUg=
      file: shopgate-shopware-integration.zip
      skip_cleanup: true
      on:
        tags: true
cache:
  directories:
    - $HOME/.composer/cache/files

notifications:
  slack:
    rooms:
      secure: "QRxuG9jIXclepLu6d7MwvDw7ACQMZ1pCa0j0wATATfwpD0eOdj7z7SorD0G9C32EJ43c1xJEU1jedi/WOnIckXzxlQeGuK996bDo3kcjJlwW/GRD218WPJumo6yL9cx2bOuiq/v2xaKnoZ6k99VyQiNVfj+Vuj+NNsJsR3rBu400RNDUIHwVy+m/OeRQqwqoKR0aACPTN2LxEpB3sXzWKQmVifZyykf49l4A8N/Hfu8KuJl7/sGhqEPg9IYYpZ7BQ0UOcofPwCB4RY4SLR11dI+ez4iZOOrv7pnxb9sYDoMsAbR1IF4Hxg+3Y5LUyAHOZjJ1esfG0aunnmsgwgs2rGHp8/F2bNQVsc7kYAQu/kbTFuSfewLCfPlRm0zw1Qk/6JXuNwsK9Rgp8S+ajiO+2NmX6R4yZi73ZaFR/OquXcSHCmlRIsQFBUDcdHecJHBCydOAbtu/7O8IrPSfI/y2i6qP0a4/rwy0l6sT1ZaXbCQd7bnli6nd7Pr+5+gSgyBhRPpt/cTIZd8MlqnrduuTv6x4JQfSknxi5mEABbKGXBUGU2WAycFHBNexlJJQwTGJ59tJIsrFiwOQal8jLWvNhlRGzXbmgpvkRql4EEczXjNspwZNi2xW1GEmyqc/6XZqW8qwXwZqNPNeNm9pgeHOZ1jl+cOA4lQmhjHZY++ueS4="
    on_success: change
    on_failure: always
